In [1]:
# import necessary packages
from plotnine import *
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')


pd.set_option("display.max_columns", 999)

## Data Sonification
Data VIZUALIZation uses our visual senses to understand data. Data SONIFICation uses sound. It's not super popular, but its a great idea both for people with and without visual disabilities. I won't go on too long about it but wanted to show you an [example](https://www.frontiersin.org/articles/10.3389/fcomm.2020.00046/full), and get you thinking about how you could use data sonification. With visual graphs, we're often severely limited after 3 dimensions. With auditory "graphs" we're not as limited.

https://www.youtube.com/watch?v=H-Ci_YwfH04

# Together

Let's build a few graphs together!

- show how high blood pressure and age are related
- what is the distribution of platelet counts?
- how many of our participants have a serum sodium > 130?

In [2]:
# data from: https://www.kaggle.com/andrewmvd/heart-failure-clinical-data

heart = pd.read_csv("https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/heart_failure_clinical_records_dataset.csv")

heart.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
# facet grid ~
# platelets by high blood pressure

In [4]:
# high blood pressure by age boxplot

In [5]:
# platelets histogram

In [6]:
# platelets by sex density

In [7]:
# how many people had a serum_sodium > 130

In [8]:
#serum sodium graph with dotted line at 130

# In Your Groups
1. Load the necessary libraries (pandas, plotnine)

2. Load the following dataset `Fifa = pd.read_csv("https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/players_15.csv")`. For more info check out [this link.](https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset/version/1#)

3. How old is the average player in FIFA20? Use plotnine/ggplot to plot a histogram of their ages.

4. Do right footed players weigh more than left footed players? Use ggplot/plotnine to make a graph to answer this question.

5. Is there a difference in height between the clubs Chelsea and Manchester United? Use ggplot/plotnine to make a graph to answer this question.

6. Is there a difference in the relationship between height and weight for people born in each of the 12 months? Use ggplot/plotnine to make a graph to answer this question. (see code below on how to extract the month from the column `fifa[dob]`) 

7. Is there an averaged difference between players with different `body_type`s? Use ggplot/plotnine to make a graph to answer this question. Discuss what kind of plot would best communicate this information in your opinion.

8. Calculate a new column `bmi` for the fifa dataset. The formula for BMI is below. Note: Body Mass Index (BMI) is not a universal metric of health, and should NOT be taken as such. Use ggplot/plotnine to plot a histogram of the different BMIs in the dataset. Add a dashed line using `+ geom_vline(xintercept = mean, linetype = "dashed", size = 3)` where mean is the mean BMI for the whole dataset.

$$ BMI = \frac{weight(kg)}{height(m)^2}$$

9. What is the relationship between height and weight for each `body_type`? Use `facet_wrap()` to make a separate height/weight scatterplot for each body type.

10. Is there an association between jersey number and age?  Use ggplot/plotnine to make a graph to answer this question.

11. Let's use your CPSC230 skills, create a column in `fifa` called `name_len` that counts the number of characters in each player's `long_name` (spaces shouldn't count). Then use ggplot/plotnine to create a histogram of `name_len` and add `+theme_minimal()` to your graph. What is the typical range of name length?

In [11]:
fifa["name_len"] = fifa["short_name"].str.len()

fifa["name_len"]

0         8
1        17
2         9
3        14
4         8
         ..
15460     9
15461    10
15462     8
15463     9
15464    10
Name: name_len, Length: 15465, dtype: int64

In [9]:
### YOUR CODE HERE ###
fifa = pd.read_csv("https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/players_15.csv")

# get month of date of birth
fifa["monthBorn"] = fifa["dob"].str.extract(r'-([0-9][0-9])-')